* {
  font-family: cursive;
}

class {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  
}

heading {
  background: linear-gradient(
    to right,
    rgb(111, 216, 240) 0%,
    rgb(78, 46, 242) 50%,
    rgb(165, 27, 219) 100%
  );
  background-clip: text;
  color: transparent;
  font-size: 50px;
  margin: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;}

college{
    display: block;
}


student {
  display: inline-block;
  width: fit-content;
  padding: 20px;
  margin: 10px;
  font-size: 20px;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.5);
}

student:hover{
  transform: scale(1.1);
  transition: 900ms;
}

name {
  font-size: 30px;
  padding: 15px 5px;
  margin-bottom: 1rem;
}

year,
branch,
roll_no,
division {
  display: block;
  display: flex;
  align-items: center;
  flex-direction: column;
}
